{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins>
        <h3 align="center">Editar Tarea - {{proyecto.nombre}}</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
                {% if messages %}
                {% for message in messages %}
                {% if 'error' in message.tags %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Tipo:</label>
                    {{ tarea_Form.tipo }}
                </div>
                <!-- <div class="form-group">
                    <label class="col-form-label">Sprint:</label>
                    {{ tarea_Form.sprint }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Backlog:</label>
                    {{ tarea_Form.backlog }}
                </div> -->
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{ tarea_Form.nombre }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Tareas:</label>
                    {{ tarea_Form.descripcion }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Prioridad:</label>
                    {{ tarea_Form.prioridad }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Desarrollador:</label>
                    {{ tarea_Form.desarrollador }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Horas estimadas:</label>
                    {{ tarea_Form.horas_estimadas }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Horas trabajadas:</label>
                    {{ tarea_Form.horas_trabajadas }}
                </div>

                <div class="form-group">
                    <label class="col-form-label">Prioridad funcional:</label>
                    {{ tarea_Form.prioridad_funcional }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Prioridad tecnica:</label>
                    {{ tarea_Form.prioridad_tecnica }}
                </div>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'proyectos:kanban' idProyecto idSprint %}" class="btn btn-primary"
                        role="button">Cancelar</a>
                </p>
            </form>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}