{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins>
        <h3 align="center">Crear nuevo US</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>
                    {{ form.nombre }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Descripcion:</label>
                    {{ form.descripcion }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Prioridad:</label>
                    {{ form.prioridad }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Desarrollador:</label>
                    {{ form.desarrollador }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Fecha de Inicio:</label>
                    {{ form.fechaInicio }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Fecha de Finalización:</label>
                    {{ form.fechaFin }}
                </div>
                <div class="form-group">
                    <label class="col-form-label">Tipo:</label>
                    {{ form.tipo }}
                </div>

                <td>
                    <a href="{% url 'proyectos:tipos_us' idProyecto %}" class="btn buton-add" role="button">
                        </i>Añadir Tipo
                    </a>
                </td>

                <br>
                <p align="center">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url 'proyectos:listar_tareas' idProyecto %}" class="btn btn-primary"
                        role="button">Cancelar</a>
                </p>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}