{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <ins>
        <h3 align="center">Lista de User Stories - {{proyecto.nombre}}</h3>
    </ins>
    {% if object_list %}
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <table class="table">
                <thead align="center">
                    <tr class="table-primary">
                        <th scope="col">Nombre</th>
                        <th scope="col">Tareas</th>
                        <th scope="col">Prioridad</th>
                        <th scope="col">Horas estimadas</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Desarrollador</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for us in object_list %}
                    <tr>
                        <td scope="col">{{ us.nombre }}</td>
                        <td scope="col">{{ us.descripcion }}</td>
                        <td scope="col">{{ us.prioridad_total }}</td>
                        <td scope="col">{{ us.horas_estimadas }}</td>
                        <td style="color: #198754;" scope="col">{{ us.estado }}</td>
                        <td scope="col">
                            {% if us.desarrollador %}
                            {{ us.desarrollador }}
                            {% else %}
                            <p>No asignado</p>
                            {% endif %}
                        </td>
                        <td scope="col">
                            <a href="{% url 'proyectos:ver_tarea' idProyecto us.id %}" class="btn boton-color">Ver
                                US</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <h4 align="center">El proyecto no tiene US finalizados</h4><br>
    {% endif %}
    <p align="center">
        <a href="{% url 'proyectos:kanban' idProyecto idSprint %}" class="btn boton-color" role="button">Volver</a>
    </p>
</div>
{% endblock %}