{% extends 'base.html' %}

{% block content %}
<br>
<div class="container-fluid">
    <ins>
        <h3 align="center">Editar Tarea - {{proyecto.nombre}}</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form method="post">
                {% if messages %}
                {% for message in messages %}
                {% if 'error' in message.tags %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label">Estado:</label>
                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ tarea.estado }}"
                        readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Nombre:</label>

                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ tarea.nombre }}"
                        readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Tareas:</label>

                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ tarea.descripcion }}"
                        readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Prioridad:</label>

                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ tarea.prioridad }}"
                        readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Desarrollador:</label>

                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ tarea.desarrollador }}"
                        readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Horas estimadas:</label>

                    <input class="form-control" id="readOnlyInput" type="text" placeholder="{{ tarea.horas_estimadas }}"
                        readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Horas trabajadas:</label>

                    <input class="form-control" id="readOnlyInput" type="text"
                        placeholder="{{ tarea.horas_trabajadas }}" readonly="">
                </div>

                <div class="form-group">
                    <label class="col-form-label">Prioridad funcional:</label>

                    <input class="form-control" id="readOnlyInput" type="text"
                        placeholder="{{ tarea.prioridad_funcional }}" readonly="">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Prioridad tecnica:</label>

                    <input class="form-control" id="readOnlyInput" type="text"
                        placeholder="{{ tarea.prioridad_tecnica }}" readonly="">
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <p align="center">
            <a href="{% url 'proyectos:kanban' idProyecto tarea.sprint.id %}" class="btn btn-primary"
                role="button">Volver</a>
        </p>
    </div>
</div>
{% endblock %}