{% extends 'base.html' %}
{% block content%}
<br>
<div class="container-fluid">
    <ins>
        <h3 align="center">Sprints del Proyecto</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th>Posición</th>
                        <th>Objetivo</th>
                        <th>Estado</th>
                        <th>Num. Tareas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sprint in sprints %}
                    <tr>
                        <td scope="col">{{sprint.posicion}}</td>
                        </td>
                        <td scope="col">{{sprint.objetivos}}</td>
                        <td scope="col">{{sprint.estado}}</td>
                        <td scope="col">{{sprint.numTareas}}</td>
                        <td scope="col">
                            <a href="" class="btn boton-color"><i class="fas fa-pen"></i></a>
                            <a href="{% url 'proyectos:eliminar_sprint' proyecto sprint.id %}" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p align="center">
                <a href="{% url 'proyectos:nuevo_sprint' proyecto %}" class="btn btn-primary" role="button">Crear
                    Sprint</a>
                <a class="btn btn-primary" href="{% url 'proyectos:ver_proyecto' proyecto %}" role="button">Volver</a>
            </p>
        </div>
        <div class="col-md-1">

        </div>
    </div>
</div>
{% endblock %}