{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container-fluid">

    <form method="POST" class="mb-5">
        {% csrf_token %}
        <h3>Kanban:</h3>
        <div class="form-group mb-3" style="max-width: 30%;">
            <label class="col-form-label">Tipo:</label>
            {{ form.tipo }}
        </div>
        <button type="submit" class="btn btn-danger">Confirmar</button>
    </form>
</div>



<div style="display: flex; justify-content: space-between;">
    {% for dato in datos %}
    <div style="display: flex; flex-direction: column;">
        <h3>{{ dato.columna }}</h3>
        <div class="kanban-tablero">
            {% for tarea in dato.tareas %}
            <div class="kanban-container">
                <div class="kanban-card">
                    <div class="kanban-card-body">
                        <span class="kanban-tag kanban-tag-teal mb-3">{{ tarea.fechaFin }}</span>
                        <h4>{{ tarea.nombre }}</h4>
                        <p>{{ tarea.descripcion }}</p>
                        <div class="kanban-user">
                            <div class="kanban-user-info">
                                <h5>{{ tarea.desarrollador }}</h5>
                                {% for rol in tarea.desarrollador.roles.all %}
                                {% if forloop.last %}
                                <small>{{ rol.nombre }}</small>
                                {% else %}
                                <small>{{ rol.nombre }},</small>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}