[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
django-crispy-forms = "*"
pytest = "*"
psycopg2 = "*"
pytest-django = "*"
pandas = "*"
