{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
    <ins>
        <h3 align="center">Miembros del Sprint - {{proyecto.nombre}}</h3>
    </ins>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Capacidad diaria</th>
                        <th scope="col">Proyecto</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% if miembros %}
                    {% for miembro in miembros %}
                    <tr>
                        <td> {{ miembro.idPerfil.user.first_name }} </td>
                        <td> {{ miembro.idPerfil.user.last_name }} </td>
                        <td> {{ miembro.capacidad_pen }} </td>
                        <td> {{ miembro.idProyecto.nombre }} </td>
                        <td>
                            {% if user.id == proyecto.scrumMaster.user.id or perms.proyectos.eliminar_miembros %}
                            <a class="btn btn-danger"
                                href="{% url 'proyectos:eliminar_miembro_sprint' idProyecto idSprint miembro.idPerfil.id %}">Eliminar</a>
                            {% endif %}
                            <a class="btn btn-danger"
                                href="{% url 'proyectos:eliminar_miembro_sprint' idProyecto idSprint miembro.idPerfil.id %}">Modificar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h3>No hay miembros</h3>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
        </div>
        <p align=center>
            {% if user.id == proyecto.scrumMaster.user.id or perms.proyectos.agregar_miembros %}
            {% if sprint.estado != "Activo" %}
            <a href="{% url 'proyectos:nuevo_miembro_sprint' idProyecto idSprint %}" class="btn boton-color"
                role="button">Agregar
                miembro</a>
            {% endif %}
            {% endif %}
            <a href="{% url 'proyectos:listar_sprints' idProyecto %}" class="btn boton-color" role="button">Volver</a>
        </p>
    </div>
</div>
{% endblock %}